/*we can change this according to our own design*/
:root{
	--ff- primary:  "Source Sans Pro", Sans-serif;

	/*font width*/
	--fw-reg : 400;
	--fw-bold: 900;

	/*color*/
	--clr-white: #ffffff;
	--clr-dark: #303030;
	--clr-purple: #723dbe;
	--clr-shgray: #666;
	--clr-accent: #16e0bd;

	/*----font size---*/
	--fs1:  14px;
	--fs2:  12px;

	/*box shadow*/
	--bs: 0.25em 0.25em 0.75em  rgba(0,0,0,.25),
	0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}


body{
	font-family: var(--ff-primary);
	margin: 0;
	font-size: var(--fs1);
	background-color: var(--clr-white);
	color: var(--clr-shgray);
}

strong{
	font-weight: var(--fw-bold);
}

html {
	scroll-behavior: smooth;
}
@media screen and (min-width: 400px) {


	img {
	  display: block;
	  max-width:200px;
	  max-height:95px;
	  width: auto;
	  height: auto;
	}
}

@media screen and (min-width: 800px) {

	img {
	  display: block;
	  max-width:800px;
	  max-height:695px;
	  width: auto;
	  height: auto;
	}
}


.login-container{
	height: 100vh;
	width: 100%;
}

.login-form {
	max-width: 100%;
	width: 370px;
	padding: 15px;
	margin: auto;
}

.form-control {
	font-size: var(--fs1);
	min-height: 48px;
	font-weight: var(--fw-reg);
}

.form-control:focus {
	border-color: var(--clr-purple);
	box-shadow: var(--bs);
}

.forgot-link {
	font-size: var(--fs2);
}

.forgot-link label {

	margin-bottom: 0;

}

.login-form a {
	text-decoration: none;
	color: var(--clr-shgray);
}

.login-form a:hover {

	color: var(--clr-purple);

}
